<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 🎙 Microphone permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 💾 Storage permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!-- For Android 13+ (TIRAMISU) -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartstudybuddy2"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="33">
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".LastTranscriptionActivity" />


        <!-- Launcher activity -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Smartstudybuddy2.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Normal activities -->
        <activity android:name=".LoginActivity" android:theme="@style/Theme.Smartstudybuddy2.NoActionBar"/>
        <activity android:name=".SignupActivity" android:theme="@style/Theme.Smartstudybuddy2.NoActionBar"/>
        <activity android:name=".DashboardActivity" android:theme="@style/Theme.Smartstudybuddy2.NoActionBar"/>
        <activity android:name=".UploadAudioActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".RecordMicActivity" />
        <activity android:name=".SaveRecordingActivity" />
        <activity android:name=".ProcessAudioActivity" />
        <activity android:name=".RecordingListActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".NoteDetailActivity" />
        <activity android:name=".TranscriptionActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".QuizResultActivity" />
        <activity android:name=".ViewUploadedDetailsActivity" />
        <activity android:name=".SummaryQuizActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ExportActivity" />
        <activity android:name=".TimetableActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".FlashcardActivity" />
        <activity android:name=".SelectSessionForFlashcardsActivity"
            android:label="Select Session"
            android:exported="true"/>
        <activity android:name=".FlashcardDetailActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AllTranscriptionsActivity" />
        <activity android:name=".AnalyticsActivity" />
        <activity android:name=".HistoryActivity"
            android:label="History Tracking"
            android:exported="true"/>
        <activity android:name=".StudySessionDetailActivity"
            android:label="Session Details"
            android:exported="true"/>
        <activity android:name=".RoleManagementActivity" />
        <activity android:name=".SearchUsersActivity" />
        <activity android:name=".AnalyticsDashboardActivity" />
        <activity android:name=".ThemeSettingsActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".UsersListActivity" />
        <activity android:name=".Reminders" />
        <activity android:name=".NotificationActivity"/>
        <activity android:name=".BaseActivity"/>
        <!-- ADMIN PROFILE -->
        <activity android:name=".AdminProfileActivity" />
        <activity android:name=".EditAdminProfileActivity" />

        <!-- ADMIN MANAGEMENT TOOLS -->
        <activity android:name=".QuizManagementActivity" />
        <activity android:name=".ContentManagementActivity" />












        <!-- User management activities -->
        <activity
            android:name=".AddUserActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".RecordingDetailActivity" />

        <!-- FileProvider for secure file sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>